/** Add css rules here for your application. */
.hablarDemo-Panel {
	border: 30px solid #E9E9E9;
	background-color: #E9E9E9;
}

.hablarDemo-Panel .form {
	border: 1px solid #BBBBBB;
	margin: 10px 0;
	padding: 10px;
}

.hablarDemo-Panel .form p {
	width: 100%;
	overflow: hidden;
}

.hablarDemo-Panel .form label {
	display: block;
	float: left;
    width: 10em;
    text-align: right;
    margin-right: 0.5em;	
}

.hablarDemo-Panel .form .gwt-TextBox, .hablarDemo-Panel .form .gwt-PasswordTextBox {
	border: 1px solid #BBBBBB;
	padding: 2px;
	background-color: white;
}

.hablarDemo-Panel .hablar {
	border: 1px solid #BBBBBB;
	margin: 10px;
}