<% content_for :title, 'welcome to emite demo pages' %>
<% content_for :band do %>
  <div class="span-7 prepend-1">
    <h6>Emite core</h6>
    <p>The xmpp library. Written in java, available for gwt and javascript</p>
  </div>

  <div class="span-7 prepend-1">
    <h6>Emite UI</h6>
    <p>A full featured xmpp client written in gwt java and using gwt-ext library.</p>
  </div>

  <div class="prepend-1 span-6 last">
    <h6>Emite widgets</h6>
    <p>Some simple widgets to include in your web page. Plain html, no programming needed.</p>
  </div>


  <div class="span-7 prepend-1">
    <%= link_to 'demo', :action => 'core' %>
  </div>

  <div class="span-7 prepend-1">
    <%= link_to 'demo', :action => 'emiteui' %>
  </div>

  <div class="prepend-1 span-6 last">
    <%= link_to 'demo', :action => 'widgets' %>
  </div>
<% end -%>

<div class="container">
  <div class="span-11 colborder push-1">
    <h3>Install emite widgets using Ejabberd and Apache on a ubuntu box</h3>
    <ul>
      <li>Install ejabberd: <pre>sudo apt-get install ejabberd</pre></li>
    </ul>
  </div>
</div>


