.emite-MultiChatPanel-Subject {
  color: #2E5492;
}

.emite-MultiChatPanel-User {
}

.emite-MultiChatPanel-User .emite-IconLabel {
  overflow: hidden;
  white-space: nowrap;
}

.emite-ChatPanel-Conversation {
}

.emite-ChatPanel-Message {
  margin: 0 7px;
}

.emite-ChatPanel-EventMessage {
  font-style: italic;
  color: rgb(102, 153, 204);
  margin: 0 5px;
}

.emite-ChatPanel-HorizDelimiter {
  white-space: nowrap;
  color: #B3B3B3;
}

.emite-MultiChatPanel-EmoticonPalette {
  background-color: #FFF;
  border: 1px solid #AAA;
  margin: 1px solid red;
  z-index:10000;
  position:absolute;
}

.emite-MultiChatPanel-EmoticonPalette td {
  width: 30px;
  height: 30px;
}

.emite-icon {
  background-image: url(img/icon.gif) !important;
}

.exit-icon {
  background-image: url(img/exit.gif) !important;
}

.colors-icon {
  background-image: url(img/colors.gif) !important;
}

.chat-icon {
  background-image: url(img/chat.gif) !important;
}

.group-icon {
  background-image: url(img/group.gif) !important;
}

.user-icon {
  background-image: url(img/user.gif) !important;
}

.userf-icon {
  background-image: url(img/userf.gif) !important;
}

.useradd-icon {
  background-image: url(img/useradd.gif) !important;
}

.load-icon {
  background-image: url(img/extload.gif) !important;
}
