    <% content_for :band do %>
    <div class="prepend-1 span-22">
      <p>The core library is a well tested module that allows you to connect using XMPP protocol.<br/>
      It can be used either inside GWT or javascript applications.</p>
      <p></p>
    </div>
    <% end %>
<div class="container">
  <div class="span-24 last">
  <p>Demo not available yet</p>
  <%= link_to 'back', :action => 'index' %>
</div>
</div>
