<% prefix = '/lib/emite-0.3.3/com.calclab.emiteui.EmiteUI/' %>

<% content_for :title, 'emiteui' %>

<% content_for :head do -%>
  <meta name="gwt:property" id="emite:user:jid" content="test1@emitedemo.ourproject.org"/>
  <meta name="gwt:property" id="emite:user:password" content="test1"/>
  <meta name="gwt:property" id="emite:bosh:httpbase" content="/com.calclab.emiteui.EmiteUI/proxy"/>
  <meta name="gwt:property" id="emite:bosh:host" content="emitedemo.ourproject.org"/>
  <meta name="gwt:property" id="emite:muc:host" content="rooms.emitedemo.ourproject.org"/>
  <meta name="gwt:property" id="emite:demo:version" content="0.3.2"/>
  <meta name="gwt:property" id="emite:demo:info" content=""/>
  <meta name="gwt:property" content="log_level=OFF">

  <!--CSS for loading message at application Startup-->
  <style type="text/css">
    #loading {
      position: absolute;
      left: 45%;
      top: 40%;
      padding: 2px;
      z-index: 20001;
      height: auto;
      border: 1px solid #ccc;
    }
    #loading a {
      color: #225588;
    }

    #loading .loading-indicator {
      background: white;
      color: #444;
      font: bold 13px tahoma, arial, helvetica;
      padding: 10px;
      margin: 0;
      height: auto;
    }

    #loading-msg {
      font: normal 10px arial, tahoma, sans-serif;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="<%= prefix %>js/ext/resources/css/ext-all.css"/>
  <link id="theme" rel="stylesheet" type="text/css" href="<%= prefix %>js/ext/resources/css/xtheme-gray.css"/>

<% end -%>

<% content_for :band do %>
  <div class="prepend-1 span-22">
    <p>EmiteUI is a full featured chat client</p>
    <p></p>
  </div>
<% end %>
<div class="container">
  <div class="span-16">
    You can login with accounts like test1@emitedemo.ourproject.org with password
    test1 (or test2, test3,...test100). Just type a test jabber id and a password and go online or change
    your status in the chat dialog.<br/>
    If nobody its online in the demo, you can open two browser windows, login with different users and chat with each other... ;)<br/>
    You can also register a jabber account in emitedemo.ourproject.org (but for now only using an external jabber client).<br/>
    With this demo you can't login using other external accounts (like your gmail account) but you can chat with them.<br/>
    You can use one of the test accounts for:
    - chat with other internal or external jabber accounts (as gmail accounts)<br/>
    - create and jo in to chat rooms in @rooms.emitedemo.ourproject.org or in @conference.jabber.org or other multi-user chat capable server.<br/>
    - even, you can open to browser tabs with this demo, and chat with two different accounts in the same browser.<br/>
    The demo accounts will be reseted periodically.<br/>
  </div>
  <div class="span-8 last">
    <b>All this demos are currently using our's home DSL connections .... then depending
    on the load it can be a little bit slow.</b>
  </div>
</div>

<!--add loading indicator while the app is being loaded-->
<div id="loading">
  <div class="loading-indicator">
    <img src="<%= prefix %>images/emite-anim.gif" width="64" height="32" alt="emite-loading"
         style="margin-right:8px;float:left;vertical-align:top;"/>emite&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
  <span id="loading-msg">Starting...</span></div>
</div>

<!--include the Ext CSS, and use the gray theme-->

<script type="text/javascript">document.getElementById('loading-msg').innerHTML = 'Loading ...';</script>

<!--include the application JS-->
<script type="text/javascript">document.getElementById('loading-msg').innerHTML = 'Starting...';</script>
<script type="text/javascript" language="javascript" src="<%= prefix %>com.calclab.emiteui.EmiteUI.nocache.js"></script>

<p>
  <img src="images/emite.png" alt="" border="0" hspace="15" vspace="10">
</p>

<!--hide loading message-->
<script type="text/javascript">Ext.get('loading').fadeOut({remove: true, duration:2});</script>

