<% content_for :title, 'widgets' %>

<% content_for :head do -%>

<% end -%>



<% content_for :band do -%>
  <div class="prepend-1 span-22">
    <p>easily embeddable chat widgets</p>
    <p></p>
  </div>
<% end -%>

<div class="container">
  <div class="span-24 last">

    <h3><%= link_to 'charla', :action => 'widgets-charla', :log_level => 'DEBUG' %></h3>


    <%= link_to 'back', :action => 'index' %>
  </div>
</div>
